In [2]:
import numpy as np
import pandas as pd

In [3]:
cd=pd.read_csv('credit_data.csv')

In [4]:
cd.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
cd.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [8]:
cd['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [14]:
l=cd[cd.Class==0]

In [15]:
f=cd[cd.Class==1]

In [16]:
l.shape

(284315, 31)

In [17]:
f.shape

(492, 31)

In [18]:
new_l=l.sample(n=492)

In [25]:
print(new_l.shape)

(492, 31)

In [28]:
new_dataset=pd.concat([new_l,f],axis=0)

In [29]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [30]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
212339,138816.0,-2.218541,1.211222,-0.326345,0.763670,-0.741354,1.914052,0.943716,-5.294108,1.432909,...,2.981848,-1.551763,0.922801,0.722661,-1.848255,-0.816578,-0.757258,-1.143818,282.98,0
277666,167785.0,2.041642,-0.948597,-2.099886,-2.556001,1.607853,3.256642,-1.086771,0.910767,1.953404,...,-0.227124,-0.564169,0.408464,0.686821,-0.379295,-0.539701,0.045226,-0.044331,9.06,0
242025,151298.0,2.006562,-0.408922,-0.589336,0.006462,-0.372584,-0.214759,-0.518874,0.002303,1.313908,...,-0.210174,-0.515275,0.372981,0.450452,-0.441205,-0.305447,0.002691,-0.029422,19.95,0
94587,64947.0,-6.327870,3.373477,1.695209,-1.606061,0.023487,0.335386,3.109186,-3.449599,7.929051,...,-1.634373,0.399711,-0.352190,0.482383,0.160342,-0.530889,-4.748881,-3.713108,46.32,0
146927,87967.0,2.020867,0.141592,-1.595309,0.341469,0.414913,-0.655367,0.109794,-0.121629,0.167241,...,-0.297008,-0.767840,0.346983,0.679578,-0.300758,0.141467,-0.063759,-0.038111,0.89,0